.nav {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: rgba(222, 143, 8, 0.866);
  backdrop-filter: brightness(60%);
  backdrop-filter: invert(70%);
  background: linear-gradient(
    90deg,
    rgba(193, 167, 0, 0.9) 0%,
    rgba(217, 105, 0, 0.9) 20%,
    rgba(219, 80, 0, 0.9) 80%,
    rgba(204, 170, 0, 0.893) 100%
  );
}

.navLink {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  padding: 5px;
}

.navLink:hover {
  color: white;
}

.navLink:focus {
  background-color: black;
  border-radius: 0.5rem;
  color: white;
}
